{% extends "template.html" %}
{% block content %}
<div class="jumbotron">
<h1>Sign up</h1>
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>Username:
    {{ form.username(placeholder="username") }}
      {% if form.username.errors %}
      <span class="error">
        {% for error in form.username.errors %}
          {{ error }}
        {% endfor %}
      </span>
      {% endif %}
  </p>
  <p>Password:
  {{ form.password(placeholder="password",autocomplete="off") }}
      {% if form.password.errors %}
      <span class="error">
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      </span>
      {% endif %}
  </p>
  <p>Repeat password:
  {{ form.confirm(placeholder="repeated password",autocomplete="off") }}
      {% if form.password.errors %}
      <span class="error">
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      </span>
      {% endif %}
  </p>
  <p><button class="button" type="submit">Sign up</button></p>
</form>
</div>
{% endblock %}